
  



body {
  margin: 20px;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.body{
  margin: 20px;

}

.para{
  margin: 100px;
  margin-right:500px;

}
.contact {
  text-align: center;
  margin-top: 100px;
  background-image: url("../src/assets/background.png");
  background-color: azure;
  background-size: cover;
}
.home {
  text-align: center;
}
.image {
  border-width: 2px;
  border-color: darkblue;
}